@charset "utf-8";
/* CSS Document */

.product-bst{
	display: flex;
	padding: 0;
}
.text{
	display: flex;
}

.discover{
	text-align: center;
}
.discover .col-md-3,.discover .col-md-6 {
	flex: auto;
}
.img-2{
	position: absolute;
	z-index: 10;
}
.pr{
	display: block;
	float: left;
	text-align: center;
}
/*Mobile*/
@media screen and (max-width: 767px){
	button{
		border: 1px solid black;
		padding: 3px 4px;
		background-color: transparent;
		margin-top: -14%;
		transition: all ease .5s;
		text-align: center;
	}
	button:focus{
		background-color: black;
		color: white;
		transition: all ease .5s;
	}
	p{
		font-size: 13px;
	}
	.txt{ 
		padding: 0 5%;
	}
	.img-2{
		margin-top: 8%;
	}
	h2{
		font-size: 22px;
	}
	h4{
		font-size: 15px;
		line-height: 35px;
	}
	.img-1{
		margin-top: 4%;
		position: relative;
	}
	.img-1 img{
		width: 92%;
	}
	.row-2, .row-3{
		margin-top: 4%;
	}
	
}
/*Tablet*/
@media screen and (min-width:768px){
	
	.txt{ 
		padding: 5% 0px 0px 5%;
		font-size: 14px;
	}
	h2{
		font-size: 30px;
	}
	h4{
		font-size: 18px;
		line-height: 35px;
	}
	.img-1, .img-2{
		margin-top: 5%;
	}
	.row-2, .row-3{
		margin-top: 4%;
	}
	.img-4{
		margin-top: 25%;
	}
}
/*Desktop*/
@media screen and (min-width:1024px){
	
	.img-1{
	margin-top: -9%;
	position: relative;
	}
	.img-2{
		margin-top: -2%;
	}
	.row-2, .row-3{
		margin-top: 4%;
	}
	.img-4{
		margin-top: 18%;
	}
	h2{
		font-size: 41px;
	}
	h4{
		font-size: 24px;
		line-height: 35px;
	}
	.txt{
		font-size: 16px;
		padding: 10% 7% 0px 7%;
		margin-bottom: 35%;
	}
	.pr:hover .buy{
		margin-top: -2%;
		opacity: 1;
	}
	.buy:hover{
		background-color:black;
		border: 1px solid black;
		color: white;
		transition: all ease .5s;
		opacity: 1;
}
	.buy{
		text-align: center;
		border: 1px solid black;
		background-color: transparent;
		height: 30px;
		transition: all ease .5s;
		opacity: 0;
		color: black;
		z-index: 10;
		position: absolute;
		padding: 1px;
		margin-top: 5%;
		margin-left: 20%;
		display: block;
	}
}