@charset "utf-8";
/* CSS Document */

.product-bst{
	display: flex;
	padding: 0;
}
.text{
	display: flex;
	padding-right: 0;
}
.img-1{
	position: relative;
	z-index: 10;
}
.img-2{
	position: absolute;
}
.discover{
	text-align: center;
}
.discover .col-md-3,.discover .col-md-6 {
	flex: auto;
}
.pr{
	display: block;
	float: left;
	text-align: center;
	position: relative;
}
.txt-z{
	position: absolute;
	z-index: 20;
}
.img-3{
	position: relative;
	width: 100%;
}
.backtona{
	position: absolute;
	z-index: 10;
	font-family: futura-med;
	text-align: right;
	color: white;
}
.arr{
	font-size: 28px;
}
.arr:hover{
	color: white;
	font-size: 28px;
}
/*Mobile*/
@media screen and (max-width: 767px){
	button{
		border: 1px solid black;
		padding: 3px 4px;
		background-color: transparent;
		margin-top: -5%;
		transition: all ease .5s;
		text-align: center;
	}
	button:focus{
		background-color: black;
		color: white;
		transition: all ease .5s;
	}
	.but-white{
		margin-top: -50%;
		margin-left: 30%;
		border-color: white;
		color: white;
		transition: all ease .5s;
	}
	.but-white:focus, .nut-btn:focus{
		background-color: white;
		color: black;
		transition: all ease .5s;
	}
	.but-btn{
		font-size: 16px;
		font-family: futura;
		line-height: 2;
		margin-top: 0%;
		padding: 0 4px;
		margin-left: 41%;
		transition: all ease .5s;
	}
	p{
		font-size: 13px;
	}
	.txt{ 
		padding: 7% 7% 0px 7%;
	}
	
	h2{
		font-size: 22px;
	}
	h4{
		font-size: 14px;
		line-height: 35px;
	}
	.img-1{
		margin-top: -5%;
		position: relative;
	}
	.img-2{
		margin-top: 5%;
	}
	.img-3{
		margin-top: 17%;
	}
	.img-1 img{
		width: 95%;
	}
	.row-2, .row-3{
		margin-top: 4%;
	}
	.backtona{
		margin-top: -61%;
		margin-left: 29%;
		font-size: 38px;
		line-height: 50px;
	}
}
/*Tablet*/
@media screen and (min-width:768px){
	
	.txt{ 
		padding: 7% 0px 0px 5%;
	}
	p{
		font-size: 15px;
		margin: 0;
	}
	.txt-z{
		margin-top: -53%;
		padding-right: 6%;
	}
	h2{
		font-size: 30px;
	}
	h4{
		font-size: 14px;
		line-height: 35px;
	}
	.img-1, .img-2{
		margin-top: 5%;
	}
	.backtona{
		margin-top: -57%;
		margin-left: 32%;
		font-size: 70px;
		line-height: 100px;
	}
	.pre-fall{
		margin-top: -10%;
		font-size: 22px;
	}
}
/*Desktop*/
@media screen and (min-width:1024px){
	
	.img-2{
		margin-top: 16%;
	}
	.img-1{
		margin-bottom: 5%;
	}
	.row-2, .row-3{
		margin-top: 4%;
	}
	p{
		margin: 0;
		font-size: 22px;
	}
	h2{
		font-size: 41px;
	}
	h4{
		font-size: 24px;
		line-height: 35px;
	}
	.pr:hover .buy{
		margin-top: -2%;
		opacity: 1;
	}
	.txt{
		padding-right: 0;
	}
	.txt-z{
		margin-top: -53%;
		padding-right: 4%;
	}
	.backtona{
		margin-top: -62%;
		margin-left: 30%;
		font-size: 100px;
		line-height: 130px;
	}
	.pre-fall{
		margin-top: -8%;
		font-size: 32px;
	}
}