@charset "UTF-8";
/* CSS Document */
.cate{
	display: flex;
}
.cate .col-md-6{
	padding-left: 0;
}
.cate .col-3, .cate .col-md-3{
	padding-right: 0;
}

.wd{
	position: relative;
}
.more{
	background-color: rgba(255,236,188,0.55);
	width: 100%;
	padding: 10%;
	color: rgba(199,199,199,0.55);
	text-align: center;
}
.fa-plus-circle{
	font-size: 60px;
	z-index: 100;
}

.white-opa-ac{
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	margin-top: -52%;
	padding: 6%;
	width: 100%;
	text-align: center;
}
.product{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.product img{
	width: 100%;
	-webkit-transition-duration: 500ms;
      transition-duration: 500ms;
}
.product p{
	color: black;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 20px;
}
.product .hoverimg{
	position: absolute;
	z-index: 10;
	opacity: 0;
	float: left;
	padding-right: 30px;
	transition: all ease .5s;
}
.product:hover .hoverimg{
	opacity: 1;
	transition: all ease .8s;
	width: 100%;
}
.pagination {
  display: inline-block;
	margin-bottom: 20px;
	margin: 0 auto;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: none;
  margin: 0 4px;
}
.pagination a.active {
  color: #C77000;
}
@media screen and (max-width: 767px){
	
	.white-opa-ac{
		width: 100%;
		margin-top: -75%;
		text-align: center;
	}
	
}

@media screen and (min-width:768px){
	.btn{
		margin: 0 0 0 -2%;
		padding: 0;
	}
	.more{
		background-color: rgba(255,236,188,0.55);
		width: 100%;
		color: rgba(199,199,199,0.55);
		text-align: center;
	}
	.sh{
		width: 80%;
		margin-bottom: 0;
	}
	.products p{
		margin: 0px;
	}
	.hoverimg{
	width: 240px;
}
	.product p{
		margin-bottom: 30px;
	}
	h2{
		font-size: 18px;
	}
	.white-opa i, .white-opa-sh i, .white-opa-ac i{
		font-size: 16px;
	}
	.white-opa-ac{
		margin-top: -40%;
	}
	
}
@media screen and (min-width:992px){
	
	.products{
		padding: 0;
	}
	.hoverimg img{
		width: 290px;
	}
	.product p{
		margin-bottom: 40px;
	}
}
@media screen and (min-width:1024px){
	h2{
		font-size: 20px;
	}
}
@media screen and (min-width:1200px){
	h2{
		font-size: 30px;
	}
}
