@charset "utf-8";
/* CSS Document */
.col-12{
	margin: 0;
	padding: 0;
}
.btn-del{
	background-color: transparent;
	border: none;
}
#add, .add-inner{
	padding: 1% 5%;
	background-color:transparent;
	border: 1px solid black;
	transition: all ease .5s;
}
.add-inner{
	padding: 0% 3%;
	margin-right: 1%;
}
#add:hover, #add:focus, .add-inner:hover, .add-inner:focus{
	color: white;
	background-color: black;
	transition: all ease .5s;
}
.us{
	display: flex;
	background-color: #ffecbc;
	margin: 1% 0 0 0;
}
.us2{
	display: flex;
	margin-top: 3%;
}
.ico{
	margin-top: 6%;
	display: flex;
}
.fa-user-edit{
	margin-top: 1%;
}
.grey{
	background-color: rgba(210,210,210,1.00);
	margin: 1% 0 0 0;
}
.fil{
	display: flex;
}

.cam{
	background-color: #c77000;
	margin: 1% 0 0 0 ;
	transition: all ease .5s;
}
.cam i:hover, .cam i:focus{
	color: #ffecbc;
	transition: all ease .5s;
}
p{
	margin: 0;
}
input{
	height: 12%;
	background-color: transparent;
	border:none;
	border-bottom: 1px solid black;
}
h5{
	margin-top: 2%;
}
.info-or{
	text-align: center;
	padding: 2%;
	
}

.fa-user{
	font-size: 50px;
	margin-left: 4%;
}
@media screen and (max-width: 767px){
	.us{
		display: block;
	}
}
@media screen and (min-width:768px){
	.us{
		display: flex;
	}
}
@media screen and (min-width:1024px){
	
}