@charset "utf-8";
/* CSS Document */
.product{
	display: block;
	float: right;
	padding: 0 3%;
}
.user{
	background: radial-gradient(#ffffff,#e5e5e5);
	text-align: center;
	padding: 5% 3%;
	margin: 8% 0;
	border-radius: 20%;
}
.user .fa-user{
	font-size: 80px;
	margin-top: 20%;
}
.pagination {
  display: inline-block;
	margin-bottom: 20px;
	margin: 0 auto;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: none;
  margin: 0 4px;
}
.pagination a.active {
  color: #C77000;
}